<app-page-header title="Skeleton" title1="Skeleton" activeitem="Components"></app-page-header>


    <!-- Start::row-1 -->
    <div class="grid grid-cols-12 gap-x-5">
        <div class="col-span-12 lg:col-span-4">
            <div class="box">
                <div class="box-header">
                    <h5 class="box-title">Basic Skeleton</h5>
                </div>
                <div class="box-body">
                    <div class="border rounded-xl shadow-sm p-6 dark:bg-bgdark dark:border-white/10">
                        <h3 class="h-4 bg-gray-200 rounded-md dark:bg-black/20" style="width: 40%;"></h3>

                        <ul class="mt-5 space-y-3">
                          <li class="w-full h-4 bg-gray-200 rounded-md dark:bg-black/20"></li>
                          <li class="w-full h-4 bg-gray-200 rounded-md dark:bg-black/20"></li>
                          <li class="w-full h-4 bg-gray-200 rounded-md dark:bg-black/20"></li>
                          <li class="w-full h-4 bg-gray-200 rounded-md dark:bg-black/20"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-span-12 lg:col-span-4">
            <div class="box">
                <div class="box-header">
                    <h5 class="box-title">Complex combination</h5>
                </div>
                <div class="box-body">
                    <div class="border rounded-xl shadow-sm p-6 dark:bg-bgdark dark:border-white/10">
                        <div class="flex">
                          <div class="flex-shrink-0">
                            <span class="w-12 h-12 block bg-gray-200 rounded-full dark:bg-black/20"></span>
                          </div>

                          <div class="ltr:ml-4 rtl:mr-4 mt-2 w-full">
                            <h3 class="h-4 bg-gray-200 rounded-md dark:bg-black/20" style="width: 40%;"></h3>

                            <ul class="mt-5 space-y-3">
                              <li class="w-full h-4 bg-gray-200 rounded-md dark:bg-black/20"></li>
                              <li class="w-full h-4 bg-gray-200 rounded-md dark:bg-black/20"></li>
                              <li class="w-full h-4 bg-gray-200 rounded-md dark:bg-black/20"></li>
                              <li class="w-full h-4 bg-gray-200 rounded-md dark:bg-black/20"></li>
                            </ul>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-span-12 lg:col-span-4">
            <div class="box">
                <div class="box-header">
                    <h5 class="box-title">Active animation</h5>
                </div>
                <div class="box-body">
                    <div class="border rounded-xl shadow-sm p-6 dark:bg-bgdark dark:border-white/10">
                        <div class="flex animate-pulse">
                          <div class="flex-shrink-0">
                            <span class="w-12 h-12 block bg-gray-200 rounded-full dark:bg-black/20"></span>
                          </div>
                          <div class="ltr:ml-4 rtl:mr-4 mt-2 w-full">
                            <h3 class="h-4 bg-gray-200 rounded-md dark:bg-black/20" style="width: 40%;"></h3>

                            <ul class="mt-5 space-y-3">
                              <li class="w-full h-4 bg-gray-200 rounded-md dark:bg-black/20"></li>
                              <li class="w-full h-4 bg-gray-200 rounded-md dark:bg-black/20"></li>
                              <li class="w-full h-4 bg-gray-200 rounded-md dark:bg-black/20"></li>
                              <li class="w-full h-4 bg-gray-200 rounded-md dark:bg-black/20"></li>
                            </ul>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End::row-1 -->
